@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(-360deg);
        -webkit-filter: hue-rotate(-360deg);
    }
}

#bg {
    background: linear-gradient(#ff0088, red);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100vh;
}

#bg.animateHue {
    animation-name: hue;
    animation-duration: 500s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    -webkit-animation-name: hue;
    -webkit-animation-duration: 500s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
}
